.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url('http://www.noia.org/wp-content/uploads/2017/07/Horseback-Riding.jpg');
  background-position: center top 33%;
  background-repeat: no-repeat;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-link {
  text-decoration: none;
}

.App-title {
  font-size: 1.5em;
  font-family: arial;
  font-weight: lighter;
  color: white;
}

.App-intro {
  font-size: large;
  color: #FF5672;
  font-family: cursive;
}

.meme {
  width: 500px;
}

.link-navigation {
  cursor: pointer;
  color: white;
  padding: 10px 50px;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  background-image: url('https://images.all-free-download.com/images/graphicthumb/wood_texture_grunge_style_background_vector_579768.jpg');
}

.link-navigation:visited {
  color: white;
}

.navigation {
  display: flex;
  justify-content: space-around;
  max-width: 750px;
  margin: 0 auto;
}
